@page "/TipoDeObra"
@using Constructora.Application.Dto
@using Newtonsoft.Json
@using RestSharp


<h3>TipodeObra</h3>
<MatButton OnClick="@(e => { dialogIsOpen = true; })">Crear</MatButton>

<table class="table">
    <thead>
        <tr>
            <td>
                TipodeObraId
            </td>
            <td>
                Nombre
            </td>
            
            <td>Editar</td>
            <td>Eliminar</td>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var tipoObra in tipodeObras  ?? new List<TipodeObraDto>())
        {
            <tr>
                <td>
                    @tipoObra.TipodeObraId
                </td>
                <td>
                    @tipoObra.Nombre
                </td>
                <td>
                    <button @onclick="()=>ActualizarTipodeObra(tipoObra)">Actualizar</button>
                </td>
                <td>
                    <button @onclick="()=>EliminarTipodeObra(tipoObra)">Eliminar</button>
                </td>

                
            </tr>
        }
    </tbody>
</table>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Crear Persona</MatDialogTitle>
    <MatDialogContent>

<div class ="forum-group">
    <label for = "Nueva">Nombre</label>
    <input class = "form-control" id="Nueva" @bind-value = "@tipoobra.Nombre" /> 
</div>
</MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { dialogIsOpen = false; tipoobra = new TipodeObraDto(); })">Cancelar</MatButton>
        <MatButton OnClick="@GuardarTipoObra">OK</MatButton>
    </MatDialogActions>
</MatDialog>



@*<button id="btnGuardar" @onclick="GuardarTipoObra">
    Guardar
</button>*@

<br/>
<br/>
<br/>


@code {
    

    //[Inject]
    //public ConstructoraDbcontex constructoraDbcontex { get; set; }
    TipodeObraDto tipoobra = new TipodeObraDto();

    protected bool dialogIsOpen { get; set; }

    protected IEnumerable<TipodeObraDto> tipodeObras  = new List<TipodeObraDto>();
    TipodeObraDto tipoObra = new TipodeObraDto ();
    

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var client = new RestClient();
            var request = new RestRequest("https://localhost:7112/api/TipodeObra", Method.Get);
            request.AddHeader("Content-Type", "application/json");
            var response = client.Execute(request);

            if (response.Content != null)
            {
                tipodeObras = Newtonsoft.Json.JsonConvert.DeserializeObject<IEnumerable< TipodeObraDto >>(response.Content);
                StateHasChanged();
            }
        }
        base.OnAfterRender(firstRender);
    }




    protected void GuardarTipoObra()
    {
        //if(tipoobra.TipodeObraId > 0)
        //    constructoraDbcontex.tipoObra.Update(tipoobra);
        //else
        //    constructoraDbcontex.tipoObra.Add(tipoobra);
        
        //constructoraDbcontex.SaveChanges();
        dialogIsOpen = false;
        tipoobra = new TipodeObraDto();
    }

   protected void EliminarTipodeObra(TipodeObraDto tipoObra)
    {
        var client = new RestClient();
        var request = new RestRequest("https://localhost:7112/api/TipodeObra/"+ tipoObra.TipodeObraId, Method.Delete);
        request.AddHeader("Content-Type", "application/json");
        var response = client.Execute(request);
        //Se elimina la serialización porque no llega respuesta
        //if (response.Content != null)
        //{
        //    tipoObras = Newtonsoft.Json.JsonConvert.DeserializeObject<IEnumerable<CiudadDto>>(response.Content);
        //    StateHasChanged();
        //}
    }


    protected void ActualizarTipodeObra(TipodeObraDto tipoObra)
    {
        dialogIsOpen = true;
        tipoobra = tipoObra;
    }
}


